<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>280141786625-v37b16an6opdr147t41bbklr5n35iit4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.280141786625-v37b16an6opdr147t41bbklr5n35iit4</string>
	<key>API_KEY</key>
	<string>AIzaSyACqlc4UY60QzQeW3m4qZ9MzqkIN4HKfRo</string>
	<key>GCM_SENDER_ID</key>
	<string>280141786625</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xona.MyApp</string>
	<key>PROJECT_ID</key>
	<string>myapp-405e1</string>
	<key>STORAGE_BUCKET</key>
	<string>myapp-405e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280141786625:ios:e46f150ce868fb77</string>
	<key>DATABASE_URL</key>
	<string>https://myapp-405e1.firebaseio.com</string>
</dict>
</plist>